
/*////////////////// Global   ///////////////////////*/
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color:white;
    padding: 15px;
    font-size: 15px;
    color: black;
}

/*///////////////////banner///////////////////////*/
.banner{
    text-align: center;
    background-color: rgb(194, 247, 240);
}

.banner h1,h2{
    background-color: rgb(194, 247, 240);
}

/*///////////////  Menu  /////////////////////*/
.topnav {
    overflow: hidden;               
    background-color: rgb(63, 58, 56);    /*to make border with dark colour */
    color: #f2f2f2;
    /*position: fixed;*/
}

.topnav a{
    float: left;                  /*make sure it stay at left*/
    color: #f2f2f2;             /*text is light colour*/
    text-align: center;           /*text in the middle*/
    padding: 14px 16px;
    font-size: 17px;
}

.topnav a:hover{                    /*when pointer move to it, change background colour and text colour to black*/
    background-color: rgb(99, 192, 161);
    color: black;
    cursor: pointer;
}

.topnav a:active{                   /*when click on it, change to darker background colour*/
    background-color: rgba(145, 214, 219, 0.897);
    color: black;
}

.active {                        /*to make (selected page) this word has different colour*/
    background-color: rgb(69, 103, 143);
}




/*/////////////////// Login //////////////////////////*/
.login {
    
    background-color: rgba(85, 196, 161, 0.596);
    display: flex;
    border: 0px solid black;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: auto;
    /*width: 50%;*/
}

.login h2,h3{
    text-align: center;         /*to make it at the center*/
}

.login form{
    text-align: center;         /*to make it at the center*/
}

.login img{
    text-align: center;         /*to make it at the center*/
    width: 30%;
}

.login input[type = password], input[type = text]{          /*input style*/
    display: block;
    width: 75%;
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid rgba(83, 82, 82, 0.527);
    margin: 5px auto;
    border-radius: 5px;

}

.login button{
    background-color: rgb(54, 116, 179);            /*button style*/
    color: #f2f2f2;
    padding: 14px 25px;
    margin: 8px 4px;
    border: none;
    cursor: pointer;
    width: 36%;
    border-radius: 5px;
}

.login button:hover{                /*thumbnail*/
    opacity: 0.8;
}

.login p{
    text-align: center;          /*to make it at the centre*/
}

.containerLogin {
    border-radius: 20px;
    width: 35%;
    background-color: white;
    border: solid 2px #ccc;
}

.login label{
    color: #888;
    font-size: 18px;
    padding: 10px;
    
}

.errorLogin{
    margin: auto;
    margin-bottom: 20px;
    background-color: rgba(248, 43, 43, 0.336);
    color: #A94442;
    border-radius: 5px;
    border: none;
    width: 75%;
    padding: 9px;
}

.errorLogin:hover{
    box-shadow: 0 0 2px 1px rgba(248, 38, 38, 0.589);
}



/*///////////////////// Register ///////////////////////*/
.containerRegister{
    background-color: white;
    text-align: center;
    width: 35%;
    border: solid 2px #ccc;
    border-radius: 20px;
}


.register h1{
    text-align: center;         /*to make it at the centre*/
}
.register {
    
    background-color: rgba(85, 196, 161, 0.596);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    /*width: 35%;*/
}

.register form{
    text-align: center;         /*to make it at the center*/
}


.register input[type = text], input[type = password]{          /*input style*/
    width: 75%;
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid rgba(83, 82, 82, 0.527);
    border-radius: 5px;

}

.register button{
    background-color: rgb(54, 116, 179);            /*button style*/
    color: #f2f2f2;
    padding: 14px 25px;
    margin: 6px 4px;
    border: none;
    cursor: pointer;
    width: 36.2%;
    border-radius: 5px;
}

.register button:hover{                /*thumbnail*/
    opacity: 0.8;
}

.register label{
    color: #888;
    font-size: 18px;
    padding: 10px;
}

.errorRegister{
    margin: auto;
    margin-bottom: 20px;
    background-color: rgba(248, 43, 43, 0.336);
    color: #A94442;
    border-radius: 5px;
    border: none;
    width: 75%;
    padding: 9px;
}

.errorRegister:hover{
    box-shadow: 0 0 2px 1px rgba(248, 38, 38, 0.589);
}


/*///////////////// Index Guru ////////////////////////*/

.indexGuru{
    background-color: white;
    margin-left: auto;              
    margin-right: auto;
    margin-top: -15px;
    width: 100%;
    border: 0px;
    
}

.indexGuru h1,h2,h3{
    background-color: white;
}

/*///////////////// home Guru ////////////////////////*/

.homeGuru{
    background-color: white;
    
}


/*//////////////////// log out /////////////////////////*/
div.logOut{
    float: right;
}

div.logOut a{
    background-color: rgb(36, 104, 173);   /*button style*/
    color: #f2f2f2;
    padding: 14px 25px;
    margin: auto;
    border: none;
    cursor: pointer;
}

div.logOut a:hover{                /*thumbnail*/
    opacity: 0.8;
}


