
/*////////////////// Global   ///////////////////////*/
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color:white;
    padding: 15px;
    font-size: 15px;
    color: black;
}

table {
    display: block;
    max-height: 1000px;
    overflow-y: scroll;
    overflow-x: auto;
}

thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}

#topikTable {
    border-collapse: collapse;
    width: 94.1%;
    border: 1px solid #ddd;
    font-size: 18px;
    margin-left: 3%;
    table-layout: fixed;
}
  
#topikTable th, #topikTable td {
    text-align: left;
    padding: 1.61%;
}
  
#topikTable tr {
    border-bottom: 1px solid #ddd;
}
  
#topikTable tr.header, #topikTable tr:hover {
    background-color: #f1f1f1;
}

.tableHeader{
    background-color: #f1f1f1;
}



/* decrease and increase font size button */
.decrease-btn{
    padding: 13px 23px;
    background-color: #0099ff;
    color: white;
    float: right;
    border-radius: 5px;
}

.increase-btn{
    padding: 13px 23px;
    background-color: #0099ff;
    color: white;
    float: right;
    margin-right: 5%;
    border-radius: 5px;
}

.decrease-btn:hover{
    background-color: #40affa;
}

.increase-btn:hover{
    background-color: #40affa;
}

.decrease-btn:active{
    background-color: #4396ce;
    box-shadow: 0 3px #666;
    transform: translateY(3px);
}

.increase-btn:active{
    background-color: #4396ce;
    box-shadow: 0 3px #666;
    transform: translateY(3px);
}



@keyframes fadeIn {
    from {
        opacity: 0;
        margin-top: 10%;
    }

    to {
        opacity: 1;
        margin-top: 0%;
        
    }
}

@keyframes fadeInHome {
    from {
        opacity: 0;
        margin-top: 10%;
    }

    to {
        opacity: 1;
        margin-top: 2%;
        
    }
}

html {
    overflow-y: scroll;
}

html { 
    scroll-behavior: smooth; 
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}





/*///////////////////// alert box   /////////////////////////*/
/* Designing dialog box */
#alert_container { 
    display: none; 
    background-image: linear-gradient( #a138af, #5951d3); 
    background-size:cover; 
    color: white; 
    position: absolute; 
    width: 350px; 
    border-radius: 5px; 
    left: 50%; 
    margin-left: -160px; 
    padding: 16px 8px 8px; 
    box-sizing: border-box; 
} 

/* Designing dialog box's okay buttun */
#alert_container .yes { 
    background-color: #4dd64d; 
    display: inline-block; 
    border-radius: 5px; 
    border: 2px solid gray; 
    padding: 5px; 
    margin-right: 10px; 
    text-align: center; 
    width: 60px; 
    /* float: right;  */
} 

#alert_container .no { 
    background-color: #22b8cf; 
    display: inline-block; 
    border-radius: 5px; 
    border: 2px solid gray; 
    padding: 5px; 
    margin-right: 10px; 
    text-align: center; 
    width: 95px; 
    /* float: right;  */
} 

#alert_container .yes:hover { 
    background-color: #83f396; 

} 

#alert_container .no:hover { 
    background-color: #99e9f2; 

} 

/* Dialog box message decorating */
#alert_container .message { 
    text-align: left; 
    padding: 10px 30px; 
} 





/*///////////////////banner///////////////////////*/
.banner{
    text-align: center;
    background-color:#dadede;
}
#dadede
.banner h1,h2{
    background-color:#dadede;
}




/*///////////////  Menu  /////////////////////*/
  
.topnav {
    overflow: hidden;               
    background-color: rgb(63, 58, 56);    /*to make border with dark colour */
    color: #f2f2f2;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /*position: fixed;*/
}

.topnav a{
    float: left;                  /*make sure it stay at left*/
    color: #f2f2f2;             /*text is light colour*/
    text-align: center;           /*text in the middle*/
    padding: 14px 16px;
    font-size: 17px;
    transition: all 0.5s;
}

.topnav a:hover{                    /*when pointer move to it, change background colour and text colour to black*/
    background-color: rgb(99, 192, 161);
    color: black;
    cursor: pointer;
}

.topnav a:active{                   /*when click on it, change to darker background colour*/
    background-color: rgba(145, 214, 219, 0.897);
    color: black;
}

.active {                        /*to make (selected page) this word has different colour*/
    background-color: rgb(69, 103, 143);
}




/*/////////////////// Login //////////////////////////*/
.login {
    background: linear-gradient(241deg, rgba(4, 83, 253, 0.623), rgba(253, 5, 220, 0.61));
    background-size: 140% 140%;

    -webkit-animation: gradientMotion 15s ease infinite;
    -moz-animation: gradientMotion 15s ease infinite;
    animation: gradientMotion 15s ease infinite;
}

@-webkit-keyframes gradientMotion {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@-moz-keyframes gradientMotion {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@keyframes gradientMotion {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}

.login {
    
    /* background-color: rgba(85, 196, 161, 0.596); */
    /* background-image: linear-gradient(to bottom right, rgba(4, 83, 253, 0.623), rgba(253, 5, 220, 0.61)); */
    display: flex;
    border: 0px solid black;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: auto;
    /*width: 50%;*/
}

.login h2,h3{
    text-align: center;         /*to make it at the center*/
}

.login form{
    text-align: center;         /*to make it at the center*/
}

.login img{
    text-align: center;         /*to make it at the center*/
    width: 30%;
}

.login input[type = password], input[type = text]{          /*input style*/
    display: block;
    width: 75%;
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid rgba(83, 82, 82, 0.527);
    margin: 5px auto;
    border-radius: 90px;

}

.login button{
    background-color: rgb(54, 116, 179);            /*button style*/
    color: #f2f2f2;
    padding: 14px 25px;
    margin: 8px 4px;
    border: none;
    cursor: pointer;
    width: 36%;
    border-radius: 5px;
    transition: all 0.5s;
}

.login button:hover{                /*thumbnail*/
    opacity: 0.8;
}

.login p{
    text-align: center;          /*to make it at the centre*/
}

.containerLogin {
    border-radius: 20px;
    width: 35%;
    background-color: white;
    border: solid 2px #ccc;
}

.login label{
    color: #888;
    font-size: 18px;
    padding: 10px;
    
}

.errorLogin{
    margin: auto;
    margin-bottom: 20px;
    background-color: rgba(248, 43, 43, 0.336);
    color: #A94442;
    border-radius: 5px;
    border: none;
    width: 75%;
    padding: 9px;
}

.errorLogin:hover{
    box-shadow: 0 0 2px 1px rgba(248, 38, 38, 0.589);
}






/*///////////////////// Register ///////////////////////*/
.containerRegister{
    background-color: white;
    text-align: center;
    width: 35%;
    border: solid 2px #ccc;
    border-radius: 20px;
}


.register h1{
    text-align: center;         /*to make it at the centre*/
}

.register {
    background: linear-gradient(241deg, rgba(4, 83, 253, 0.623), rgba(253, 5, 220, 0.61));
    background-size: 140% 140%;

    -webkit-animation: gradientMotion 15s ease infinite;
    -moz-animation: gradientMotion 15s ease infinite;
    animation: gradientMotion 15s ease infinite;
}

@-webkit-keyframes gradientMotion {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@-moz-keyframes gradientMotion {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@keyframes gradientMotion {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}


.register {
    
    /* background-color: rgba(85, 196, 161, 0.596); */
    /* background-image: linear-gradient(to bottom right, rgba(4, 83, 253, 0.623), rgba(253, 5, 220, 0.61)); */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    /*width: 35%;*/
}

.register form{
    text-align: center;         /*to make it at the center*/
}


.register input[type = text], input[type = password]{          /*input style*/
    width: 75%;
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid rgba(83, 82, 82, 0.527);
    border-radius: 90px;

}

.register button{
    background-color: rgb(54, 116, 179);            /*button style*/
    color: #f2f2f2;
    padding: 14px 25px;
    margin: 6px 4px;
    border: none;
    cursor: pointer;
    width: 36.2%;
    border-radius: 5px;
    transition: all 0.5s;
}

.register button:hover{                /*thumbnail*/
    opacity: 0.8;
}

.register label{
    color: #888;
    font-size: 18px;
    padding: 10px;
}

.errorRegister{
    margin: auto;
    margin-bottom: 20px;
    background-color: rgba(248, 43, 43, 0.336);
    color: #A94442;
    border-radius: 5px;
    border: none;
    width: 75%;
    padding: 9px;
}

.errorRegister:hover{
    box-shadow: 0 0 2px 1px rgba(248, 38, 38, 0.589);
}


/*///////////////// Index Guru ////////////////////////*/

.indexGuru{
    background-color: white;
    margin-left: auto;              
    margin-right: auto;
    margin-top: -15px;
    width: 100%;
    border: 0px;
    
}

.indexGuru h1,h2,h3{
    background-color: white;
}

/*////////////////// Laman Utama ////////////////////////*/
.homeGuru{
    border-radius: 15px;
    width: 50%;
    align-items: center;
    border: solid 2px #ccc;
    background-color:rgba(172, 185, 189, 0.699);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: auto;
    padding: 20px;
}


.containerInfo {
    border-radius: 5px;
    background-color: white;
    margin: auto;
    padding: 10px;
    
}


.homeGuru {
    animation-name:fadeInHome;
    animation-duration:3s;
}

.containerInfo pre{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}


#name {
    top: 10px;
    background-color: #4caf4f91;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: -7px;
}

#telephone {
    top: 60px;
    background-color: #2195f391;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: -7px;
}
  
#IC {
    top: 110px;
    background-color: #f4433688;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: -7px;
}
  
#role {
    top: 160px;
    background-color: rgba(85, 85, 85, 0.5);
    padding: 15px;
    border-radius: 5px;
}

#name:hover {
    box-shadow: 0 0 4px 2px rgba(0, 129, 69, 0.5);
    cursor: pointer;
}

#telephone:hover {
    box-shadow: 0 0 4px 2px rgba(0, 92, 122, 0.5);
    cursor: pointer;
}
  
#IC:hover {
    box-shadow: 0 0 4px 2px rgba(184, 10, 4, 0.5);
    cursor: pointer;
}
  
#role:hover {
    box-shadow: 0 0 4px 2px rgba(56, 56, 56, 0.5);
    cursor: pointer;
}


/*//////////////////// log out /////////////////////////*/
div.logOut{
    float: right;
}

div.logOut a{
    background-color: rgb(36, 104, 173);   /*button style*/
    color: #f2f2f2;
    padding: 14px 25px;
    margin: auto;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
    transition: all 0.5s;
}

div.logOut a:hover{                /*thumbnail*/
    opacity: 0.8;
}


/*////////////////////// Sedia Kuiz /////////////////////////////*/
.createGuruContainer{
    background-color: white;
    align-items: center;
    width: 90%;
    border: solid 2px #ccc;
    border-radius: 20px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    text-align: right;
}

.createGuru {
    
    background-color: #dadede;
    justify-content: center;
    align-items: center;
    border: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
    /*width: 35%;*/
}


.createGuruContainer form{
    align-items: center;        /*to make it at the center*/
}


.createGuruContainer input[type = text]{          /*input style*/
    width: 75%;
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid rgba(83, 82, 82, 0.527);
    border-radius: 5px;
    margin-right: 14%;

}


.createGuruContainer button{
    background-color: rgb(54, 116, 179);            /*button style*/
    color: #f2f2f2;
    padding: 14px 25px;
    margin: 6px 4px;
    border: none;
    cursor: pointer;
    width: 18%;
    border-radius: 5px;
    float: left;
    margin-left: 10px;
    text-align: center;
    font-size: medium;
    transition: all 0.5s;
}

.createGuruContainer button:hover{                /*thumbnail*/
    opacity: 0.8;
}

.createGuruContainer a{
    background-color: rgb(54, 116, 179);            /*button style*/
    color: #f2f2f2;
    padding: 14px 25px;
    margin: 6px 4px;
    border: none;
    cursor: pointer;
    width: 18%;
    border-radius: 5px;
    float: left;
    margin-left: 10px;
    text-align: center;
    transition: all 0.5s;
}

.createGuruContainer a:hover{                /*thumbnail*/
    opacity: 0.8;
}


.createGuruContainer label{
    color: #888;
    font-size: 18px;
    padding: 10px;
    float: left;
}

.pilihanBox {
    width: 86%;
    display: grid;
    grid-template-columns: 60% auto;
}

.pilihanBox > div {
    float: left;
}

.pilihanBox input[type = text]{
    margin-right: auto;
    
    
}

.jawapanBox{
    float: left;
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    /*border: 2px solid #ccc;*/
    width: 15.7%;
    /*display: inline-block;*/
    box-sizing: border-box;
    margin-right: auto;


}

.jawapanBox select{
    border-radius: 5px;
    border: 2px solid rgba(83, 82, 82, 0.527);
    font-size: large;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-top: 2px;
}


/*/////////////////// collection Guru ////////////////////*/
.collectionGuru{
    background-color: #dadede;
    align-items: center;
}

.collectionGuruContainer{
    background-color: white;
    align-items: center;
    width: 93%;
    border: solid 2px #ccc;
    border-radius: 20px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    text-align: left;
}

.collectionGuru input[type=text] {
    width: 25%;
    float: right;
    margin-right: 6.2%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('Image/searchIcon.png');
    background-size: 10%;
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
  
.collectionGuru input[type=text]:focus {
    width: 45%;
    background-size: 5%;
}




.deleteButton{
    background-color: rgb(228, 81, 76);            /*button style*/
    color: #f2f2f2;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.4s;
    /* background-image: url('Image/deleteIcon.png');
    background-size: 17%;
    background-position: 2px 10px; 
    background-repeat: no-repeat; */
    width: 45%;
    font-size: medium;
    float: left;
}

.deleteButton:hover{
    opacity: 0.75;
}

.changeButton{
    background-color: rgb(54, 116, 179);            /*button style*/
    color: #f2f2f2;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.4s;
    width: 45%;
    font-size: medium;
    float: left;
    margin-right: 2%;
}

.changeButton:hover{
    opacity: 0.75;
}

.infoButton{
    background-color: rgb(54, 179, 137);            /*button style*/
    color: #f2f2f2;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 66%;
    font-size: medium;
    float: left;
    margin-right: 2%;
    margin-top: 2%;
}

/* .infoButton:hover{
    opacity: 0.75;
} */

.completedTask{
    background-color: rgb(54, 179, 110);            /*button style*/
    color: #f2f2f2;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 92%;
    font-size: medium;
    float: left;
    margin-right: 2%;
    margin-top: 2%;
}

.completedTask:hover{
    opacity: 0.75;
}


.container {
    position: relative;
    width: 100%;
}

.container:hover .overlay {
    width: 92%;
}


.overlay {
position: absolute;
bottom: 0;
left: 0;
right: 0;
background-color: rgb(54, 179, 137);
overflow: hidden;
width: 0;
height: 122%;
transition: .5s ease;
}



.text {
color: white;
font-size: 30px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
white-space: nowrap;
}

/*/////////////////// updateTopik //////////////////*/

div.updateBalik{
    float: right;
}


div.updateBalik a:hover{                /*thumbnail*/
    opacity: 0.8;
}

div .updateBalik a{
    background-color: rgb(36, 104, 173);   /*button style*/
    color: #f2f2f2;
    padding: 14px 46px;
    margin: auto;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
    transition: all 0.5s;
}



/*///////////////////   Check Guru   ////////////////////////////*/
/* to make the wanted place print only */
@media print {
    body * {
      visibility: hidden;
    }
    table {
        max-height: none;
    }
    #section-to-print, #section-to-print * {
      visibility: visible;
    }
    #NoPrint, #NoPrint * {
        visibility: hidden;
    }
    #section-to-print {
      position: absolute;
      left: 2px;
      top: 3%;
    }
    
}


#rekodTable {
    border-collapse: collapse;
    width: 94.1%;
    border: 1px solid #ddd;
    font-size: 18px;
    margin-left: 3%;
    table-layout: fixed;
}
  
#rekodTable th, #rekodTable td {
    text-align: left;
    padding: 1.61%;
}
  
#rekodTable tr {
    border-bottom: 1px solid #ddd;
}
  
#rekodTable tr.header, #rekodTable tr:hover {
    background-color: #f1f1f1;
}


.perekodanGuru{
    background-color: #dadede;
    align-items: center;
}

.perekodanGuruContainer{
    background-color: white;
    align-items: center;
    width: 93%;
    border: solid 2px #ccc;
    border-radius: 20px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    text-align: left;
}

.perekodanGuru input[type=text] {
    width: 25%;
    float: right;
    margin-right: 1%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('Image/searchIcon.png');
    background-size: 10%;
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-top: 3%;
}
  
.perekodanGuru input[type=text]:focus {
    width: 45%;
    background-size: 5%;
}

.perekodanGuru h2{
    margin-left: 5%;
}



.perekodanGuruContainer button{
    background-color: rgb(54, 116, 179);            /*button style*/
    color: #f2f2f2;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.4s;
    width: 90%;
    font-size: medium;
    float: left;
    margin-right: 2%;
}

.perekodanGuruContainer button :hover{
    opacity: 0.75;
}

.print button{
    background-color: rgb(54, 116, 179);            /*button style*/
    color: #f2f2f2;
    padding: 15px 18px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.4s;
    width: 10%;
    font-size: medium;
    margin-right: 7%;
    margin-top: 2.9%;
    float: right;
}

.print button:hover{
    opacity: 0.75;
}



.pantauMurid {
    background-color: #dadede;
    align-items: center;
}

.pantauMuridContainer{
    background-color: white;
    align-items: center;
    width: 93%;
    border: solid 2px #ccc;
    border-radius: 20px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    text-align: left;
}

.pantauMurid input[type=text] {
    width: 25%;
    float: right;
    margin-right: 6.2%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('Image/searchIcon.png');
    background-size: 10%;
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-top: 3%;
}
  
.pantauMurid input[type=text]:focus {
    width: 45%;
    background-size: 5%;
}

.pantauMurid h2{
    margin-left: 5%;
}



.pantauMuridContainer button{
    background-color: rgb(54, 116, 179);            /*button style*/
    color: #f2f2f2;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.4s;
    width: 75%;
    font-size: medium;
    float: left;
    margin-right: 2%;
}

.pantauMuridContainer button :hover{
    opacity: 0.75;
}


#muridTable {
    border-collapse: collapse;
    width: 94.1%;
    border: 1px solid #ddd;
    font-size: 18px;
    margin-left: 3%;
    table-layout: fixed;
}
  
#muridTable th, #muridTable td {
    text-align: left;
    padding: 1.61%;
}
  
#muridTable tr {
    border-bottom: 1px solid #ddd;
}
  
#muridTable tr.header, #muridTable tr:hover {
    background-color: #f1f1f1;
}


/*///////////////// pantau prestasi //////////////////////*/

div.pantauPrestasiBalik{
    float: right;
}


div.pantauPrestasiBalik a:hover{                /*thumbnail*/
    opacity: 0.8;
}

div .pantauPrestasiBalik a{
    background-color: rgb(36, 104, 173);   /*button style*/
    color: #f2f2f2;
    padding: 14px 46px;
    margin: auto;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
    transition: all 0.5s;
}


.infoPantauMurid {
    background-color:#dadede;
    align-items: center;
}

.infoPantauMuridContainer{
    background-color: white;
    align-items: center;
    width: 93%;
    border: solid 2px #ccc;
    border-radius: 20px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    text-align: left;
}

.infoPantauMuridContainer h2{  
    margin-left: 5%;
}


.graphMurid {
    background-color: #dadede;
    align-items: center;
}

.graphMuridContainer{
    background-color: white;
    align-items: center;
    width: 93%;
    border: solid 2px #ccc;
    border-radius: 20px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    text-align: left;
}





/*////////////////////  Info Topik   ////////////////////*/

.infoTopik{
    background-color: #dadede;
    align-items: center;
}

.infoTopikContainer{
    background-color: white;
    align-items: center;
    width: 93%;
    border: solid 2px #ccc;
    border-radius: 20px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    text-align: left;
}


.muridHantar{
    background-color: #dadede;
    align-items: center;
}

.muridHantarContainer{
    background-color: white;
    align-items: center;
    width: 93%;
    border: solid 2px #ccc;
    border-radius: 20px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    text-align: left;
}

.muridHantar input[type=text] {
    width: 25%;
    float: right;
    margin-right: 6.2%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('Image/searchIcon.png');
    background-size: 10%;
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-top: 3%;
}
  
.muridHantar input[type=text]:focus {
    width: 45%;
    background-size: 5%;
}



.muridHantarContainer button{
    background-color: rgb(54, 116, 179);            /*button style*/
    color: #f2f2f2;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.4s;
    width: 90%;
    font-size: medium;
    float: left;
    margin-right: 2%;
}

.muridHantarContainer button :hover{
    opacity: 0.75;
}


.infoTopikOK{
    float: right;
}


.infoTopikOK a:hover{                /*thumbnail*/
    opacity: 0.8;
}

.infoTopikOK a{
    position: fixed;
    background-color: rgb(36, 104, 173);   /*button style*/
    color: #f2f2f2;
    padding: 20px 52px;
    margin: auto;
    border: none;
    cursor: pointer;
    border-radius: 22px;
    margin-right: 10px;
    transition: all 0.5s;
    bottom: 10%;
    right: 6%;
}


#rekodTable1 {
    border-collapse: collapse;
    width: 94.1%;
    border: 1px solid #ddd;
    font-size: 18px;
    margin-left: 3%;
    table-layout: fixed;
}
  
#rekodTable1 th, #rekodTable1 td {
    text-align: left;
    padding: 1.61%;
}
  
#rekodTable1 tr {
    border-bottom: 1px solid #ddd;
}
  
#rekodTable1 tr.header, #rekodTable1 tr:hover {
    background-color: #f1f1f1;
}





#rekodTable2 {
    border-collapse: collapse;
    width: 94.1%;
    border: 1px solid #ddd;
    font-size: 18px;
    margin-left: 3%;
    table-layout: fixed;
}
  
#rekodTable2 th, #rekodTable2 td {
    text-align: left;
    padding: 1.61%;
}
  
#rekodTable2 tr {
    border-bottom: 1px solid #ddd;
}
  
#rekodTable2 tr.header, #rekodTable2 tr:hover {
    background-color: #f1f1f1;
}








