/*////////////////// Global   ///////////////////////*/
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: white;
    padding: 15px;
    font-size: 15px;
    color: black;
}

table {
    display: block;
    max-height: 1000px;
    overflow-y: scroll;
    overflow-x: auto;
}

thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}

#topikTable {
    border-collapse: collapse;
    width: 94.1%;
    border: 1px solid #ddd;
    font-size: 18px;
    margin-left: 3%;
    table-layout: fixed;
}
  
#topikTable th, #topikTable td {
    text-align: left;
    padding: 1.61%;
}
  
#topikTable tr {
    border-bottom: 1px solid #ddd;
}
  
#topikTable tr.header, #topikTable tr:hover {
    background-color: #f1f1f1;
}

.tableHeader{
    background-color: #f1f1f1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        margin-top: 10%;
    }

    to {
        opacity: 1;
        margin-top: 0%;
        
    }
}


@keyframes fadeInHome {
    from {
        opacity: 0;
        margin-top: 10%;
    }

    to {
        opacity: 1;
        margin-top: 2%;
        
    }
}

html { 
    scroll-behavior: smooth; 
}

html {
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}





/*///////////////////// alert box   /////////////////////////*/
/* Designing dialog box */
#alert_container { 
    display: none; 
    background-image: linear-gradient( #a138af, #5951d3); 
    background-size:cover; 
    color: white; 
    position: absolute; 
    width: 350px; 
    border-radius: 5px; 
    left: 50%; 
    margin-left: -160px; 
    padding: 16px 8px 8px; 
    box-sizing: border-box; 
} 

/* Designing dialog box's okay buttun */
#alert_container .yes { 
    background-color: #4dd64d; 
    display: inline-block; 
    border-radius: 5px; 
    border: 2px solid gray; 
    padding: 5px; 
    margin-right: 10px; 
    text-align: center; 
    width: 60px; 
    /* float: right;  */
} 

#alert_container .no { 
    background-color: #22b8cf; 
    display: inline-block; 
    border-radius: 5px; 
    border: 2px solid gray; 
    padding: 5px; 
    margin-right: 10px; 
    text-align: center; 
    width: 95px; 
    /* float: right;  */
} 

#alert_container .yes:hover { 
    background-color: #83f396; 

} 

#alert_container .no:hover { 
    background-color: #99e9f2; 

} 

/* Dialog box message decorating */
#alert_container .message { 
    text-align: left; 
    padding: 10px 30px; 
} 









/*///////////////////banner///////////////////////*/
.banner{
    text-align: center;
    background-color: rgb(194, 247, 240);
}



/*///////////////  Menu  /////////////////////*/

.topnav {
    overflow: hidden;               
    background-color: rgb(63, 58, 56);    /*to make border with dark colour */
    color: #f2f2f2;
    /*position: fixed;*/
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.topnav a{
    float: left;                  /*make sure it stay at left*/
    color: #f2f2f2;             /*text is light colour*/
    text-align: center;           /*text in the middle*/
    padding: 14px 16px;
    font-size: 17px;
    transition: all 0.5s;
}

.topnav a:hover{                    /*when pointer move to it, change background colour and text colour to black*/
    background-color: rgb(99, 192, 161);
    color: black;
    cursor: pointer;
    border-bottom: 3px solid red;
}

.topnav a:active{                   /*when click on it, change to darker background colour*/
    background-color: rgba(145, 214, 219, 0.897);
    color: black;
    border-bottom: 3px solid rgb(247, 29, 83);
}

.active {                        /*to make (selected page) this word has different colour*/
    background-color: rgb(69, 103, 143);
    border-bottom: 3px solid red;
}



/*///////////////// Index Murid ////////////////////////*/
.indexMurid{
    margin-left: auto;             
    margin-right: auto;
    margin-top: -15px;
    width: 100%;
    border: 0px;
    
}


/*//////////////////// log out /////////////////////////*/
div.logOut{
    float: right;
}

div.logOut a{
    background-color: rgb(36, 104, 173);   /*button style*/
    color: #f2f2f2;
    padding: 14px 25px;
    margin: auto;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
    transition: all 0.5s;
}

div.logOut a:hover{                /*thumbnail*/
    opacity: 0.8;
}


/*////////////////// Laman Utama ////////////////////////*/
.homeMurid{
    border-radius: 15px;
    width: 50%;
    align-items: center;
    border: solid 2px #ccc;
    background-color:rgba(172, 185, 189, 0.699);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: auto;
    padding: 20px;
}

.containerInfo {
    border-radius: 5px;
    background-color: white;
    margin: auto;
    padding: 10px;
    
}

.homeMurid {
    animation-name:fadeInHome;
    animation-duration:3s;
}

.containerInfo pre{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}


#name {
    top: 10px;
    background-color: #4caf4f91;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: -7px;
}

#telephone {
    top: 60px;
    background-color: #2195f391;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: -7px;
}
  
#IC {
    top: 110px;
    background-color: #f4433688;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: -7px;
}
  
#role {
    top: 160px;
    background-color: rgba(85, 85, 85, 0.5);
    padding: 15px;
    border-radius: 5px;
}

#name:hover {
    box-shadow: 0 0 4px 2px rgba(0, 129, 69, 0.5);
    cursor: pointer;
}

#telephone:hover {
    box-shadow: 0 0 4px 2px rgba(0, 92, 122, 0.5);
    cursor: pointer;
}
  
#IC:hover {
    box-shadow: 0 0 4px 2px rgba(184, 10, 4, 0.5);
    cursor: pointer;
}
  
#role:hover {
    box-shadow: 0 0 4px 2px rgba(56, 56, 56, 0.5);
    cursor: pointer;
}


/*///////////////////   Collection Murid   ////////////////////////////*/
.collectionMurid{
    background-color: rgba(85, 196, 161, 0.596);
    align-items: center;
}

.collectionMuridContainer{
    background-color: white;
    align-items: center;
    width: 93%;
    border: solid 2px #ccc;
    border-radius: 20px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    text-align: left;
}

.collectionMurid input[type=text] {
    width: 25%;
    float: right;
    margin-right: 6.2%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('Image/searchIcon.png');
    background-size: 10%;
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-top: 3%;
}
  
.collectionMurid input[type=text]:focus {
    width: 45%;
    background-size: 5%;
}




.doButton{
    background-color: rgb(54, 116, 179);            /*button style*/
    color: #f2f2f2;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.4s;
    width: 80%;
    font-size: medium;
    float: left;
    margin-right: 2%;
}

.doButton:hover{
    opacity: 0.75;
}



/*///////////////////   Prestasi Murid   ////////////////////////////*/
.perekodanMurid{
    background-color: rgba(85, 196, 161, 0.596);
    align-items: center;
}

.perekodanMuridContainer{
    background-color: white;
    align-items: center;
    width: 93%;
    border: solid 2px #ccc;
    border-radius: 20px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    text-align: left;
}

.perekodanMurid input[type=text] {
    width: 25%;
    float: right;
    margin-right: 6.2%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('Image/searchIcon.png');
    background-size: 10%;
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-top: 3%;
}
  
.perekodanMurid input[type=text]:focus {
    width: 45%;
    background-size: 5%;
}




.perekodanMuridContainer button{
    background-color: rgb(54, 116, 179);            /*button style*/
    color: #f2f2f2;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.4s;
    width: 95%;
    font-size: medium;
    float: left;
    margin-right: 2%;
}

.perekodanMuridContainer button :hover{
    opacity: 0.75;
}

.graphMurid {
    background-color: rgba(85, 196, 161, 0.596);
    align-items: center;
}

.graphMuridContainer{
    background-color: white;
    align-items: center;
    width: 93%;
    border: solid 2px #ccc;
    border-radius: 20px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    text-align: left;
}



/*/////////////////////// buatKuiz  /////////////////////////*/
.buatKuizBalik{
    float: right;
}


.buatKuizBalik a:hover{                /*thumbnail*/
    opacity: 0.8;
}

.buatKuizBalik a{
    background-color: rgb(36, 104, 173);   /*button style*/
    color: #f2f2f2;
    padding: 14px 46px;
    margin: auto;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
    transition: all 0.5s;
}

.buatKuizContainer{
    background-color: white;
    align-items: center;
    width: 90%;
    border: solid 2px #ccc;
    border-radius: 20px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    text-align: right;
}

.buatKuiz {
    
    background-color: rgba(85, 196, 161, 0.596);
    justify-content: center;
    align-items: center;
    border: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
    /*width: 35%;*/
}


.buatKuizContainer form{
    align-items: center;        /*to make it at the center*/
}


.buatKuizContainer input[type = radio]{          /*input style*/
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(83, 82, 82, 0.527);
    margin-left: 3%;
    margin-right: 2%;
    margin-top: 1%;
    float: left;
    
}


.buatKuizContainer button{
    background-color: rgb(54, 116, 179);            /*button style*/
    color: #f2f2f2;
    padding: 14px 25px;
    margin: 6px 4px;
    border: none;
    cursor: pointer;
    width: 15%;
    border-radius: 5px;
    float: left;
    margin-left: 2%;
    text-align: center;
    font-size: medium;
    transition: all 0.5s;
}

.buatKuiz button:hover{                /*thumbnail*/
    opacity: 0.8;
}

.buatKuizContainer a{
    background-color: rgb(54, 116, 179);            /*button style*/
    color: #f2f2f2;
    padding: 14px 25px;
    margin: 6px 4px;
    border: none;
    cursor: pointer;
    width: 18%;
    border-radius: 5px;
    float: left;
    margin-left: 10px;
    text-align: center;
    transition: all 0.5s;
}

.buatKuizContainer a:hover{                /*thumbnail*/
    opacity: 0.8;
}


.buatKuizContainer label{
    color: rgb(78, 78, 78);
    font-size: 18px;
    padding: 10px;
    float: left;
}

.buatKuiz h3{
    float: left;
    margin-left: 5%
}

.buatKuiz fieldset {
    border:2px solid rgb(0, 92, 128);
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
}

.buatKuiz legend {
    margin-right: 85%;
    font-size: 180%;
}


/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    /*margin-bottom: 5px;*/ 
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


  
/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}
  
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}
  
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style the indicator (dot/circle) */
.container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
}

.pilihanBox {
    margin-left: 3%;
}

.pilihanBox pre{
    margin-right: 90%;
    font-family: Arial, Helvetica, sans-serif;
}

.pilihanBox {
    width: 86%;
    display: grid;
    grid-template-columns: 50% auto;
}

.pilihanBox > div {
    float: left;
}


/*///////////////// Semak jawapan //////////////////////*/
.semakJawapanOK{
    float: right;
}


.semakJawapanOK a:hover{                /*thumbnail*/
    opacity: 0.8;
}

.semakJawapanOK a{
    position: fixed;
    background-color: rgb(36, 104, 173);   /*button style*/
    color: #f2f2f2;
    padding: 20px 52px;
    margin: auto;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-right: 10px;
    transition: all 0.5s;
    bottom: 10%;
    right: 7%;
}



.semakJawapan {
    background-color: rgba(94, 214, 176, 0.377);
    align-items: center;
}


.semakJawapanContainer{
    background-color: white;
    align-items: center;
    width: 93%;
    border: solid 5px rgb(184, 184, 184);
    border-radius: 20px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    text-align: left;
}


.infoSemak {
    background-color: rgba(85, 196, 161, 0.329);
    align-items: center;
}

.infoSemakContainer{
    background-color: white;
    align-items: center;
    width: 93%;
    border: solid 2px #ccc;
    border-radius: 20px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    text-align: left;
}


.correct {
    background-color: #c8f8c8;
}

.wrong {
    background-color: #f8cdcd;
}


